// colors
$white-clr: #fff;
$very-dark-grayish-blue: #48556A;
$desaturated-dark-blue: #6E8098;
$grayish-blue: #9DAEC2;
$light-grayish-blue: #ECF2F8;

// font family
$primary-ff: 'Manrope', sans-serif;

// font weight
$fw-medium: 500;
$fw-bold: 700;

// font size
$root-fs: 16px;
$fs-13px: $root-fs / 1.23;
$fs-16px: $root-fs;
$fs-20px: $root-fs * 1.25;